/* segundo exercicio */
.super-mario {
    width: 200px;
    position: absolute;
    left: 1%;
    z-index: 1;
    
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 35%;
    left: 80px;
    z-index: 2;
  }
  
  .baloon {
      position: absolute;
      left: 20%;
      top: 3%;
      z-index: 1;

  
  }
  
  .speach {
    font-size: 25px;
    position:absolute;
    left: 21%;
    top: 7%;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 35%;
    top: 12%;

  }

  /* terceiro exercicio */

  .trybe{
      color: #2fc18c
  }
  h1, p{
      text-align: center;
  }
  ol :hover{
      background-color: lightgray;
  }
  ol :active{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  ul :hover{
    background-color: lightgray;
  }
  ul :active{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* quarto exercicio */
div :hover{
    border: 1px solid black;
}
div:nth-of-type(1){
    background-color: red;
}
div:nth-of-type(2){
    background-color: orange;
}
div:nth-of-type(3){
    background-color: green;
    height: 2em;
}
div:nth-of-type(4){
    background-color: grey;
}
div:nth-of-type(5){
    background-color: lightsteelblue;
}
div:nth-of-type(2n+1){
    font-style: italic;
}